@import "assets/govuk-elements";
@import "assets/grid_layout";
// ==========================================================================
// Import GOV.UK frontend toolkit
// ==========================================================================
@import 'assets/css3';
@import 'assets/colours';
@import 'assets/measurements';
@import 'assets/conditionals';
@import 'assets/grid_layout';
@import 'assets/design-patterns/alpha-beta';
@import 'assets/shims';
@import 'assets/font_stack';
@import 'assets/device-pixels';
@import 'assets/typography';
@import 'assets/url-helpers';
@import 'assets/design-patterns/buttons';
// ==========================================================================
// Elements
// ==========================================================================
@import 'assets/elements/helpers';
@import 'assets/elements/reset';
@import 'assets/elements/elements-typography';
@import 'assets/elements/layout';
@import 'assets/elements/forms';
@import 'assets/elements/tables';
@import 'assets/elements/buttons';
@import 'assets/elements/details';
@import 'assets/elements/lists';
@import 'assets/elements/panels';
@import 'assets/elements/breadcrumbs';
// Modules
// ==========================================================================
@import 'modules/manifest';
// ==========================================================================
// Vendor
// ==========================================================================

//@import 'vendor/manifest';

.table-font-xsmall {

  th {
    @include bold-16;
  }

  td {
    @include core-16;
  }

  th,
  td {
    padding: em(12, 16) em(20, 16) em(9, 16) 0;
    line-height: 0.6;
     border-collapse: collapse;
    border-spacing: 0;
  }
}