{{>docheader}}

  {{{ bodyStart }}}

  {{>header}}

  {{{ afterHeader }}}
  <main class="elements-index" id="content" role="main" tabindex="-1">
  {{{ body }}}
  </main>
  {{>footer}}

  {{>scripts}}
  
  {{{ bodyEnd }}}

{{>docfooter}}